[submodule "Assignment_2/contrib/googletest"]
	path = Assignment_2/contrib/googletest
	url = https://github.com/google/googletest.git
[submodule "Assignment_3/contrib/googletest"]
	path = Assignment_3/contrib/googletest
	url = https://github.com/google/googletest.git
[submodule "Assignment_4/contrib/googletest"]
	path = Assignment_4/contrib/googletest
	url = https://github.com/google/googletest.git
[submodule "Assignment_5/contrib/googletest"]
	path = Assignment_5/contrib/googletest
	url = https://github.com/google/googletest.git
[submodule "Assignment_6/contrib/googletest"]
	path = Assignment_6/contrib/googletest
	url = https://github.com/google/googletest.git
[submodule "CodeRetreat/contrib/googletest"]
	path = CodeRetreat/contrib/googletest
	url = https://github.com/google/googletest.git
